* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'JetBrains Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fefdfd;
}

.container {
  background-color: #5d4e7b;
  height: 500px;
  width: 600px;
  padding: 40px;
  border-radius: 45px;
  position: relative;
}

.container h1 {
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.container p {
  font-size: 5rem;
  color: #fefdfd;
}

.container p::before {
  content: 'R$';
}

.container span {
  font-weight: 100;
  display: block;
  font-size: 1.8rem;
  margin-bottom: 60px;
}

.container [data-time] {
  font-size: 2.4rem;
}
